.menu {
  z-index: 2;
  position: relative
}

.menu__top {
  position: fixed;
  width: 100vw;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 5px 10px 5px 0;
  background-color: #c00;
  z-index: 1
}

.menu__logo {
  width: 220px;
  height: 90%;
  display: flex;
  align-items: center;
  margin-left: -170px
}

.menu__logo.menu-open {
  margin-left: 0
}

.menu__logo img {
  width: auto;
  height: 90%;
  margin-left: 15px
}

.menu__logo-img {
  width: 100%;
  height: 100%;
  background-size: 153px auto;
  background-repeat: no-repeat;
  background-position: 176px 5px;
  opacity: .9
}

.menu__logo.menu-open .menu__logo-img {
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: 10px;
  margin: 5px 0 0
}

.btn-menuAside {
  width: 34px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px 0 0;
  padding: 0;
  background: 0 0;
  border: none;
  color: #ffd9d9;
  font-size: 22px
}

.btn-menuAside:hover {
  color: #ffd9d9
}

.btn-menuAside.menu-open.menu-pin {
  margin-left: -45px
}

.btn-close {
  color: #ffd9d9;
  background: 0 0;
  opacity: .8;
  font-size: 25px;
  display: none;
  width: unset;
  height: unset
}

.btn-menuAside.menu-open .btn-close {
  display: flex
}

.btn-menuAside.menu-open .btn-open {
  display: none
}

.menu__search {
  background: #d32525;
  border: none;
  padding: 6px 11px;
  margin: 0 15px 0 0;
  color: #ffd9d9;
  max-width: 350px;
  width: 50vw
}

.menu__search::placeholder {
  color: #ffd9d9
}

.menu__end {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 5px
}

.menu__button {
  height: 37px;
  width: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #ffd9d9;
  border: 1px #d32525 solid;
  background-color: #d32525;
  margin: 0 5px;
  border-radius: 3px;
  transition: all .2s
}

.menu__button:active,
.menu__button:focus,
.menu__button:hover {
  color: #fff;
  background: #ffffff45
}

.fas,
.menu__button svg,
svg {
  transition: all .2s
}

.menu__aside {
  position: fixed;
  top: 50px;
  width: 220px;
  height: calc(100vh - 50px);
  background: #c00;
  box-shadow: 1px 1px 15px 0 #0000000a;
  z-index: 1;
  transform: translateX(-100%)
}

.menu__user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 5px;
  width: 100%;
  background: #d01414;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%)
}

.menu__user .menu__user-photo,
.menu__user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fff
}

.menu__user-text {
  margin-left: 8px
}

.menu__user h5 {
  font-size: 15px;
  margin-top: 0;
  color: #fff
}

.menu__user p {
  font-size: 12px;
  color: #fff
}

.menu__aside hr {
  width: 100%;
  margin: 0 0 0;
  color: #ce0001;
  opacity: 1
}

.menu__nav p {
  font-family: SemiBold;
  text-transform: uppercase;
  font-size: 12px;
  color: #ffffffcf;
  margin-bottom: 5px;
  margin-top: 15px;
  padding: 0 15px
}

.menu__nav-link {
  width: 95%;
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  padding: 3px 0;
  color: #fff;
  text-decoration: none
}

.menu__nav-link .content {
  width: 100%;
  display: flex;
  padding: 6px 15px;
  position: relative;
  z-index: 1
}

.menu__nav-link .text {
  font-family: Regular;
  margin-left: 10px;
  font-size: 13px
}

.menu__nav-link.menu__nav-link--submenu {
  position: relative;
  width: 95%;
  padding: 3px 0;
  margin: 0 auto
}

.menu__nav-link .arrow {
  margin-left: auto;
  font-size: 10px;
  display: flex;
  align-items: center;
  transition: .3s
}

.menu__nav-link.active .arrow {
  transform: rotate(90deg)
}

.menu__nav-link:hover .arrow {
  font-size: 12px
}

.menu__nav-link .submenu {
  width: 100%;
  margin: 0 auto;
  position: relative;
  flex-flow: row
}

.menu__nav-link .submenu .menu__nav-link {
  padding: 6px 21px;
  width: 100%;
  flex-flow: row;
  margin: 5px auto;
  color: #fff;
  transition: .2s;
  background: #ffffff14
}

.menu__nav-link .submenu .menu__nav-link:hover {
  background: #ffffff2b
}

.menu__nav-link .submenu .menu__nav-link .icon {
  font-size: 6px;
  display: flex;
  align-items: center;
  justify-content: center
}

.menu__nav-link.menu__nav-link--submenu.active .content {
  color: #fff
}

.menu__nav-link.menu__nav-link--submenu .menu__nav-link .text {
  font-size: 13px
}

.menu__logo.menu-open {
  margin-left: 0
}

.menu__aside.menu-open {
  transform: none;
  overflow: visible;
}

:host>>>.p-megamenu.p-megamenu-vertical {
  width: 100%;
  border-radius: 0;
  background-color: transparent;
  border: none
}

:host>>>.p-megamenu .p-menuitem-link {
  background-color: transparent;
  color: #d1d1d1;
  padding: 11px 21px;
  margin: 6px 0;
  font-size: 14px
}

:host>>>.p-megamenu .p-menuitem-link:hover {
  background: #c2c2c238;
  border-radius: 0;
  color: #fff
}

:host>>>.p-megamenu .p-menuitem-active .p-menuitem-link:hover,
:host>>>.p-megamenu .p-menuitem.p-menuitem-link:hover {
  background: #e9ecef
}

:host>>>.p-megamenu .p-menuitem-active .p-menuitem-link {
  background: #ffffff38
}

:host>>>.p-megamenu-panel {
  background-color: #fff;
  box-shadow: 8px 3px 13px -4px #00000033;
  width: calc(100%);
  left: calc(100% + 1px);
  color: #fff;
  padding: 0 0
}

:host>>>.p-megamenu-submenu {
  color: #fff;
  padding: 0;
  margin: 0;
  width: 100%
}

:host>>>.p-megamenu .p-megamenu-root-list>.p-menuitem>.p-menuitem-link {
  padding: 12px 16px;
  margin: 5px 0;
  outline: 0 !important;
  border: none !important
}

:host>>>.p-megamenu .p-megamenu-root-list>.p-menuitem>.p-menuitem-link .p-menuitem-text {
  color: #f4baba;
  font-size: 14px
}

:host>>>.p-megamenu .p-megamenu-root-list>.p-menuitem>.p-menuitem-link .p-submenu-icon {
  color: #f4baba
}

:host>>>.p-megamenu .p-megamenu-root-list>.p-menuitem>.p-menuitem-link .p-menuitem-text:hover {
  color: #fff
}

:host>>>.p-megamenu .p-megamenu-root-list>.p-menuitem>.p-menuitem-link:not(.p-disabled):hover {
  background-color: #ffffff1a
}

:host>>>.p-megamenu .p-megamenu-root-list>.p-menuitem>.p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
  color: #ffff
}

:host>>>.p-megamenu .p-megamenu-root-list>.p-menuitem>.p-menuitem-link:not(.p-disabled):hover .p-submenu-icon {
  color: #ffff
}

.p-megamenu .p-megamenu-root-list>.p-menuitem.p-menuitem-active>.p-menuitem-link:not(.p-disabled):hover,
:host>>>.p-megamenu .p-megamenu-root-list>.p-menuitem.p-menuitem-active>.p-menuitem-link {
  background: #ffffff26
}

.p-megamenu .p-megamenu-root-list>.p-menuitem.p-menuitem-active>.p-menuitem-link:not(.p-disabled):hover .p-menuitem-text,
:host>>>.p-megamenu .p-megamenu-root-list>.p-menuitem.p-menuitem-active>.p-menuitem-link .p-menuitem-text {
  color: #ffff
}

.p-megamenu .p-megamenu-root-list>.p-menuitem.p-menuitem-active>.p-menuitem-link:not(.p-disabled):hover .p-submenu-icon,
:host>>>.p-megamenu .p-megamenu-root-list>.p-menuitem.p-menuitem-active>.p-menuitem-link .p-submenu-icon {
  color: #ffff
}

:host>>>.p-megamenu-panel .p-megamenu-col-12 {
  padding: 0 0
}

:host>>>.p-megamenu .p-megamenu-submenu-header {
  padding: 0;
  border-radius: 0
}

.btn-menuPin {
  background-color: #ffffff2e;
  border: none;
  color: #f5aeae;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-15px);
  padding: 5px 8px;
  border-radius: 3px
}

.btn-menuPin:active,
.btn-menuPin:focus,
.btn-menuPin:hover {
  color: #fff;
  background-color: #ffffff5e
}

.menu__top.modal-open {
  z-index: 1
}

.menu__user-alterarSenha {
  position: relative;
  width: 35px;
  height: 36px;
  background: 0 0;
  border: none;
  color: #ede9e9;
  background-color: #ffc4c42e;
  font-size: 17px;
  border-radius: 3px;
  margin-left: 5px
}

.menu__user-alterarSenha svg {
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%)
}
