.menu__top {
    position: fixed;
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 5px 0;
    background-color: #cc0000;
    z-index: 1;
}

.menu__logo {
    width: 220px;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -210px;
}

.menu__logo img {
    width: auto;
    height: 90%;
}

.btn-menuAside {
    width: 34px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px 0 0;
    padding: 0;
    background: none;
    border: none;
    color: #ffd9d9;
    font-size: 22px;
}

.btn-menuAside:hover {
    color: #caccd0;
}

.btn-close {
    color: #ffd9d9;
    background: none;
    opacity: 0.8;
    font-size: 25px;
    display: none;
    width: unset;
    height: unset;
}

.btn-menuAside.menu-open .btn-close {
    display: block;
}

.btn-menuAside.menu-open .btn-open {
    display: none;
}

.menu__search {
    background: #d32525;
    border: none;
    padding: 6px 11px;
    margin: 0 15px 0 0px;
    color: #ffd9d9;
    max-width: 350px;
    width: 100%;
}

.menu__search::placeholder {
    color: #ffd9d9;
}

.menu__end {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 5px;
}

.menu__button {
    height: 37px;
    width: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #ffd9d9;
    border: 1px #d32525 solid;
    background-color: #d32525;
    margin: 0 5px;
    border-radius: 3px;
    transition: all .2s;
}

.menu__button:hover, .menu__button:active, .menu__button:focus {
    color: #caccd0;
    background: #522e2e;
}

.menu__button svg, svg, .fas {
    transition: all .2s;
}

.menu__aside {
    position: fixed;
    top: 50px;
    width: 220px;
    height: calc(100vh - 50px);
    background: #f5f5f5;
    box-shadow: 1px 1px 15px 0px #0000000a;
    z-index: 1;
    transform: translateX(-100%);
}

.menu__user {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding: 25px 15px 10px;
}

.menu__user .menu__user-photo, .menu__user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
}

.menu__user h5 {
    font-size: 15px;
    margin-top: 9px;
    color: #242939;
}

.menu__user hr {
    width: 100%;
    margin: 15px 0 0;
    color: #dcdada;
    opacity: 1;
}

.menu__nav p {
    font-family: Bold;
    text-transform: uppercase;
    font-size: 12px;
    color: #797979;
    margin-bottom: 5px;
    margin-top: -4px;
    padding: 0 15px;
}

.menu__nav-link {
    width: 90%;
    display: flex;
    text-decoration: none;
    color: #272727;
    padding: 6px 0;
    background: whitesmoke;
    margin: 0 auto;
}

.menu__nav-link .content {
    width: 100%;
    display: flex;
    background: #c7c7c78c;
    padding: 6px 15px;
}

.menu__nav-link .text {
    font-family: 'Regular';
    margin-left: 10px;
}

.menu__nav-link.menu__nav-link--submenu {
    position: relative;
    width: 90%;
    padding: 6px 0;
    margin: 0 auto;
}

.menu__nav-link .arrow {
    margin-left: auto;
    font-size: 10px;
    display: flex;
    align-items: center;
    transition: .3s;
}

.menu__nav-link.active .arrow {
    transform: rotate(90deg);
}

.menu__nav-link:hover .arrow {
    font-size: 12px;
}

.menu__nav-link .submenu {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #e6e6e6;
    margin: 0 auto;
}

.menu__nav-link .submenu .menu__nav-link {
    background-color: #dcc4c4;
    padding: 6px 21px;
    width: 100%;
}

.menu__nav-link .submenu .menu__nav-link .icon {
    font-size: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu__nav-link.menu__nav-link--submenu.active .content {
    background: #d32525;
    color: #fff;
}

.menu__nav-link.menu__nav-link--submenu .menu__nav-link .text {
    font-size: 12px;
}

.menu__logo.menu-open {
    margin-left: 0px;
}

.menu__aside.menu-open {
    transform: none;
}