<div class="menu">
    <div class="menu__top">
        <div class="menu__logo" [class.menu-open]="menuOpen">
            <div class="menu__logo-img" style="background-image: url(./../../../assets/img/logo-caceis-white.png);"></div>
            <!-- <img src="./../../../assets/img/logo-caceis-white.png" alt="Logo caceis"> -->
        </div>
        <button class="btn-menuAside" (click)="toggleMenu()" [class.menu-open]="menuOpen">
            <span class="btn-open">
                <fa-icon [icon]="faBars"></fa-icon>
            </span>
            <span class="btn-close">
                <fa-icon [icon]="faTimes"></fa-icon>
            </span>
        </button>
        <input type="text" class="menu__search" placeholder="Pesquisar...">
        <div class="menu__end">
            <a class="menu__button">
                <fa-icon [icon]="faBell"></fa-icon>
            </a>
            <a class="menu__button">
                <fa-icon [icon]="faEnvelope"></fa-icon>
            </a>
            <a class="menu__button">
                <fa-icon [icon]="faUser"></fa-icon>
            </a>
            <a class="menu__button">
                <fa-icon [icon]="faCog"></fa-icon>
            </a>
        </div>
    </div>
    <aside class="menu__aside" [class.menu-open]="menuOpen">
        <hr>
        <div class="menu__user">
            <div class="menu__user-photo" style="background-image: url(./../../../assets/img/perfil.jpg);"></div>
            <div class="menu__user-text">
                <h5>Noemi C. Almeida</h5>
                <p>Administrador</p>
            </div>
        </div>
        <nav class="menu__nav">
            <p>Navegação</p>
            <a class="menu__nav-link">
                <div class="content">
                    <span class="icon">
                        <fa-icon [icon]="faTv"></fa-icon>
                    </span>
                    <span class="text">Dashboard</span>
                </div>
            </a>
            <a class="menu__nav-link menu__nav-link--submenu" #user>
                <div class="content" (click)="toggleSubmenu(user)">
                    <span class="icon">
                        <fa-icon [icon]="faTv"></fa-icon>
                    </span>
                    <span class="text">Usuários</span>
                    <span class="arrow">
                        <fa-icon [icon]="faChevronRight"></fa-icon>
                    </span>
                </div>
                <div class="submenu" style="display: none;">
                    <a class="menu__nav-link">
                        <!-- <span class="icon">
                            <fa-icon [icon]="faCircle"></fa-icon>
                        </span> -->
                        <span class="text">1 Usuários</span>
                    </a>
                    <a class="menu__nav-link">
                        <!-- <span class="icon">
                            <fa-icon [icon]="faCircle"></fa-icon>
                        </span> -->
                        <span class="text">1 Usuários</span>
                    </a>
                    <a class="menu__nav-link">
                        <!-- <span class="icon">
                            <fa-icon [icon]="faCircle"></fa-icon>
                        </span> -->
                        <span class="text">1 Usuários</span>
                    </a>
                    <a class="menu__nav-link">
                        <!-- <span class="icon">
                            <fa-icon [icon]="faCircle"></fa-icon>
                        </span> -->
                        <span class="text">1 Usuários</span>
                    </a>
                </div>
            </a>
            <a class="menu__nav-link menu__nav-link--submenu" #contas>
                <div class="content" (click)="toggleSubmenu(contas)">
                    <span class="icon">
                        <fa-icon [icon]="faTv"></fa-icon>
                    </span>
                    <span class="text">Contas</span>
                    <span class="arrow">
                        <fa-icon [icon]="faChevronRight"></fa-icon>
                    </span>
                </div>
                <div class="submenu" style="display: none;">
                    <a class="menu__nav-link">
                        <!-- <span class="icon">
                            <fa-icon [icon]="faCircle"></fa-icon>
                        </span> -->
                        <span class="text">1 Contas</span>
                    </a>
                </div>
            </a>
        </nav>
    </aside>
</div>