.login {
    background: #e1e1e1;
    max-width: 100vw;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999999999;
}

.logo__bg {
    position: absolute;
    left: 50%;
    transform: translate(calc(-50% - 0px), -50%);
    height: 100%;
    width: 60vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(1);
    opacity: 0.1;
    z-index: 1;
}

.login__inner {
    background: #f4f4f4;
    max-width: 360px;
    width: 90%;
    border-radius: 10px;
    z-index: 1;
    position: relative;
    box-shadow: 2px -1px 12px #00000045, 6px -6px 0px #f9f9f9, 9px -7px 5px #00000054;
    padding: 30px 0px;
}

.login__inner-logo {
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: 6px #ec0000 solid;
    transform: translateX(0px);
    width: calc(100% + 5px);
    position: relative;
    margin: 0;
}

.login__inner-logo h3 {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
}

.login__inner-logo .img {
    border-radius: 50%;
    overflow: hidden;
    width: 80px;
    height: 80px;
    background: linear-gradient(104deg, #f4f4f4, #e9e4e4);
    position: absolute;
    right: 0;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(50%, -50%);
    box-shadow: 2px 2px 4px #00000036;
}

.login__inner-logo .img div {
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

.login__form {
    height: 100%;
    width: 100%;
    border-radius: 12px;
    display: flex;
    flex-flow: column;
    padding: 20px 25px 0;
}

.form-footer {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}

.form-footer.esqueceu-senha {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.link {
    color: #cc0000;
    font-weight: 600;
}

.btn-entrar {
    background: #ec0000;
    color: #fff;
    box-shadow: 2px 2px 2px #00000040;
    padding: 9px 12px;
    width: 100%;
}

.btn-entrar:hover, .btn-entrar:active, .btn-entrar:focus {
    background: #ec0000;
    box-shadow: 2px -2px 2px #00000040, 2px 2px 2px #ffffff40 inset;
    border-color: transparent;
    color: #fff;
}

.footer {
    display: none;
}