<div class="modal" [class.active]="modalExists" *ngIf="modalOpen">
    <div class="modal__bg" (click)="voltar()"></div>
    <div class="modal__inner" style="max-width: 500px; overflow: visible;">
        <div class="modal__content">
            <div class="modal__header flex-nowrap align-items-start">
                <div class="pr-2 mb-2">
                    <h3 class="text-orange">Alterar senha</h3>
                    <p>Após alterar sua senha, você será redirecionado para a página de login.</p>
                </div>
                <a (click)="voltar()" class="modal__header-close btn-close" style="width: 30px; height: 20px;">
                    <span></span>
                    <span></span>
                </a>
            </div>
            <div class="modal__body">
                <form #form="ngForm" (ngSubmit)="onSubmit(form)">
                    <div class="form-row">
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-12">
                            <label>Senha:</label>
                            <div class="position-relative">
                                <input type="password" class="form-control" #password="ngModel" id="password"
                                    name="password" [(ngModel)]="resetSenha.password" required minlength="8"
                                    data-toggle="popover" data-trigger="focus" title="Dismissible popover"
                                    data-content="And here's some amazing content. It's very engaging. Right?" />
                                <app-senha-alert></app-senha-alert>
                            </div>
                            <div *ngIf="password.touched">
                                <div *ngIf="password.errors">
                                    <p class="error text-danger" *ngIf="password.errors.minlength">A senha deve conter
                                        pelo
                                        menos 8 dígitos.</p>
                                    <p class="error text-danger" *ngIf="password.errors.required">Esse campo é
                                        obrigatório.</p>
                                </div>
                                <div *ngIf="!confirmPassword.errors">
                                    <p class="error text-danger" *ngIf="password.value != confirmPassword.value">As
                                        senhas não
                                        são iguais.</p>
                                    <p class="error text-danger"
                                        *ngIf="!password.errors && passwordUtils.validate(password) != true">
                                        {{passwordUtils.validate(password)}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12 col-12">
                            <label>Confirmar senha:</label>
                            <div class="position-relative">
                                <input type="password" class="form-control" #confirmPassword="ngModel"
                                    id="confirmPassword" name="confirmPassword" [(ngModel)]="resetSenha.confirmPassword"
                                    required minlength="8" [readonly]="password.value == '' || password.invalid" />
                                <app-senha-alert></app-senha-alert>
                            </div>
                            <div *ngIf="confirmPassword.touched">
                                <div *ngIf="confirmPassword.errors">
                                    <p class="error text-danger" *ngIf="confirmPassword.errors.minlength">A senha deve
                                        conter
                                        pelo menos 8 dígitos.</p>
                                    <p class="error text-danger" *ngIf="confirmPassword.errors.required">Esse campo é
                                        obrigatório.</p>
                                </div>
                                <div *ngIf="!confirmPassword.errors">
                                    <p class="error text-danger" *ngIf="passwordUtils.validate(password) != true">
                                        {{passwordUtils.validate(password)}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center col-lg-12 col-md-12 col-sm-12 col-12 pb-0 pl-0">
                        <input type="checkbox" id="togglePassword" #togglePassword />
                        <label for="togglePassword" class="ml-1 mb-0"><span id="textSenha">Exibir</span> senha</label>
                    </div>
                    <div class="form-row d-flex justify-content-end ">
                        <a (click)="voltar()" class="btn btn-link">Cancelar</a>
                        <button [disabled]="form.invalid 
                        || passwordUtils.validate(password) != true
                        || passwordUtils.validate(confirmPassword) != true
                        || resetSenha.password != resetSenha.confirmPassword 
                        || loading" class="btn btn-primary">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Redefinir senha
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>