<div class="d-flex h-100 w-100 px-lg-0 px-md-1 px-sm-5 px-5">
    <div class="page mb-auto mt-lg-5 mt-md-3 mt-sm-auto mt-auto mx-auto col-lg-8 col-md-9 col-sm-11 col-12">
        <header class="page__header">
            <p class="page__header-voltar">
                <a routerLink="/">
                    <span style="margin-right: 8px;">
                        <fa-icon [icon]="faChevronLeft"></fa-icon>
                    </span>
                    <strong>Voltar</strong>
                </a>
            </p>
            <h3><strong>Esqueci minha senha</strong></h3>
        </header>
        <div class="page__body overflow-visible col-lg-12 col-md-12 col-sm-12 col-12">
            <p class="mb-3 font-weight-bold">Digite seu CPF/CNPJ e enviaremos um link de verificação para o e-mail se
                ele estiver registrado</p>
            <form class="form" #form="ngForm" (ngSubmit)="onSubmit(form)">
                <div class="form-row">
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-12 px-0">
                        <input class="form-control" id="documento" name="documento" #documento="ngModel"
                            placeholder="Documento" [(ngModel)]="document" required>
                        <div *ngIf="documento.errors">
                            <p *ngIf="documento.touched && documento.errors.required" class="text-danger">Esse campo é
                                obrigatório.</p>
                        </div>
                    </div>
                </div>

                <div *ngIf="erro" class="form-row">
                    <p class="text-red alert-danger">{{erro}}</p>
                </div>
                <div class="form-row d-flex justify-content-end pr-0">
                    <a routerLink="../acessar" class="btn btn-link">Cancelar</a>
                    <button type="submit" class="btn btn-primary mr-0"
                        [disabled]="documento.errors && documento.errors.required">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Enviar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>