<div class="page">
    <header class="page__header">
        <p class="page__header-voltar">
            <a routerLink="/">
                <span style="margin-right: 8px;">
                    <fa-icon [icon]="faChevronLeft"></fa-icon>
                </span>
                <strong>Voltar</strong>
            </a>
        </p>
        <h3><strong>Esqueci minha senha</strong></h3>
    </header>
    <div class="page__body">
        <p class="mb-3 font-weight-bold">Digite seu CPF/CNPJ e enviaremos um link de verificação para o e-mail se ele estiver registrado</p>
        <form class="form" #form="ngForm" (ngSubmit)="onSubmit(form)">
            <div class="form-row">
                <div class="form-group col-lg-6 col-md-7 col-sm-12 col-12">
                    <input class="form-control" id="documento" name="documento" #documento="ngModel" placeholder="Documento" [(ngModel)]="document" required >
                    <div *ngIf="documento.errors">
                        <p *ngIf="documento.touched && documento.errors.required" class="text-danger">Esse campo é obrigatório.</p>
                    </div>
                </div>
            </div>

            <div *ngIf="erro" class="form-row col-lg-6 col-md-7 col-sm-12 col-12">
                <p class="text-red alert-danger">{{erro}}</p>
            </div>
            <div class="form-row col-lg-6 col-md-7 col-sm-12 col-12 d-flex justify-content-end pr-0">
                <a routerLink="../login" class="btn btn-link">Cancelar</a>
                    <button type="submit" class="btn btn-primary mr-0" [disabled]="documento.errors && documento.errors.required">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Enviar
                    </button>
                </div>
        </form>
    </div>
</div>
