<div class="page">
    <header class="page__header">
        <p class="page__header-voltar">
            <a routerLink="/">
                <span style="margin-right: 8px;">
                    <fa-icon [icon]="faChevronLeft"></fa-icon>
                </span>
                <strong>Voltar</strong>
            </a>
        </p>
        <h3 class="d-flex align-items-center">
            Usuários
            <a routerLink="./cadastrar" class="btn btn-gray ml-auto" title="Adicionar usuário">
                Adicionar usuário
            </a>
        </h3>
    </header>
    <div class="page__body">
     <div class="d-flex justify-content-between">
        <p><small>{{accountService.list.value.length}} resultados</small></p>
        <a class="btn btn-filter" [routerLink]="['filtrar']">
            <fa-icon [icon]="faFilter"></fa-icon>
        </a>
     </div>
        <table class="table table-borderless table-striped table-selectable">
            <thead>
                <tr>
                    <th></th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Documento</th>
                    <th>Cadastrado por</th>
                    <th>Situação</th>
                    <th></th>
                </tr>
            </thead>
            <tbody *ngIf="!loading && accountService.list.value.length > 0">
                <tr class="table-row" *ngFor="let item of accountService.list.value" [class.selected]="item == selected">
                    <td></td>
                    <td (click)="selectItem(item)">{{ item.nome }}</td>
                    <td (click)="selectItem(item)">{{ item.email }}</td>
                    <td (click)="selectItem(item)">{{ item.documento }}</td>
                    <td (click)="selectItem(item)">{{ item.created | date : "dd/MM/yyyy" }}</td>
                    <td (click)="selectItem(item)">
                        <span class="flag flag-green" *ngIf="item.isVerified">Ativo</span>
                        <span class="flag flag-red" *ngIf="!item.isVerified">Inativo</span>
                    </td>
                    <td class="td-actions">
                        <div class="actions ml-auto">
                            <button class="actions__toggle" [class.active]="item == selected">
                                <span class="icon icon-ellipsis" (click)="selectItem(item)">
                                    <fa-icon [icon]="faEllipsisV"></fa-icon>
                                </span>
                                <span class="icon icon-times" (click)="unselectItem()">
                                    <fa-icon [icon]="faTimes"></fa-icon>
                                </span>
                            </button>
                            <div class="actions__nav" [class.active]="item == selected">
                                <div class="actions__nav-inner" *ngIf="item == selected">
                                    <a class="actions__nav-link" [routerLink]="['reset-password']"
                                        [queryParams]="{ id: item.idEncrypted }">Resetar Senha</a>

                                        <a class="actions__nav-link" [routerLink]="['editar']"
                                        [queryParams]="{ id: item.idEncrypted }">Editar</a>

                                    <a *ngIf="item.isVerified" class="actions__nav-link" [routerLink]="['desativar']"
                                    [queryParams]="{ id: item.idEncrypted }">Desativar</a>
                                    
                                    <a *ngIf="!item.isVerified" class="actions__nav-link" [routerLink]="['ativar']"
                                        [queryParams]="{ id: item.idEncrypted }">Ativar</a>
                                        <!-- <a class="actions__nav-link" [routerLink]="['excluir']"
                                            [queryParams]="{ id: item.idEncrypted }">Excluir</a> -->
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="loading">
                <tr>
                    <td style="background-color: #f5f5f5;"></td>
                    <td style="background-color: #f5f5f5;" colspan="5">
                        <div class="d-flex align-items-center justify-content-center py-2">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        </div>
                    </td>
                    <td style="background-color: #f5f5f5;"></td>
                </tr>
            </tbody>
            <tbody *ngIf="!loading && accountService.list.value.length == 0">
                <tr>
                    <td></td>
                    <td colspan="5">
                        Nenhum registro encontrado
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <div class="card-footer pb-2 pt-3 px-0 bg-transparent d-flex justify-content-end position-sticky"
            style="left: 0;">
            <jw-pagination [items]="items" (changePage)="onChangePage($event)"></jw-pagination>
        </div>
    </div>
</div>
<router-outlet></router-outlet>