<div class="page">
    <header class="page__header">
        <p class="page__header-voltar">
            <a routerLink="/">
                <span style="margin-right: 8px;">
                    <fa-icon [icon]="faChevronLeft"></fa-icon>
                </span>
                <strong>Voltar</strong>
            </a>
        </p>
        <h3 class="d-flex align-items-center">
            Arquivos
            <a routerLink="./cadastrar" class="btn btn-gray ml-auto" title="Adicionar arquivo">
                Adicionar arquivo
            </a>
        </h3>
    </header>
    <div class="page__body">
     <div class="d-flex justify-content-between">
        <p><small>{{arquivosService.list.value.length}} resultados</small></p>
        <a class="btn btn-filter" [routerLink]="['filtrar']">
            <fa-icon [icon]="faFilter"></fa-icon>
        </a>
     </div>
        <table class="table table-borderless table-striped table-selectable">
            <thead>
                <tr>
                    <th></th>
                    <th>Data Cadastro</th>
                    <th>Nome</th>
                    <th>Tipo Origem</th>
                    <th>Origem</th>
                    <th>Tipo Destino</th>
                    <th>Destino</th>
                    <th>Cadastrado por</th>
                    <th>Critério</th>
                    <th></th>
                </tr>
            </thead>
            <tbody *ngIf="!loading && arquivosService.list.value.length > 0">
                <tr class="table-row" *ngFor="let item of arquivosService.list.value" [class.selected]="item == selected">
                  <td></td>
                  <td (click)="selectItem(item)">{{ item.dataCadastro | date : "dd/MM/yyyy" }}</td>
                  <td (click)="selectItem(item)">{{ item.nome }}</td>
                  <td (click)="selectItem(item)" style="white-space: nowrap;">{{ item.acessoTipoOrigem }}</td>
                    <td (click)="selectItem(item)">{{ item.caminhoOrigem }}</td>
                    <td (click)="selectItem(item)" style="white-space: nowrap;">{{ item.acessoTipoDestino }}</td>
                    <td (click)="selectItem(item)">{{ item.caminhoDestino }}</td>
                    <td (click)="selectItem(item)">
                      <span *ngIf="item.usuario">{{ item.usuario }}</span>
                      <span *ngIf="!item.usuario">-</span>
                    </td>
                    <td (click)="selectItem(item)">{{ item.criterio }}</td>
                    <td class="td-actions">
                        <div class="actions ml-auto">
                            <button class="actions__toggle" [class.active]="item == selected">
                                <span class="icon icon-ellipsis" (click)="selectItem(item)">
                                    <fa-icon [icon]="faEllipsisV"></fa-icon>
                                </span>
                                <span class="icon icon-times" (click)="unselectItem()">
                                    <fa-icon [icon]="faTimes"></fa-icon>
                                </span>
                            </button>
                            <div class="actions__nav" [class.active]="item == selected">
                                <div class="actions__nav-inner" *ngIf="item == selected">
                                    <a class="actions__nav-link" [routerLink]="['editar']"
                                        [queryParams]="{ id: item.idEncrypted }">Editar</a>
                                    <a class="actions__nav-link" [routerLink]="['excluir']"
                                        [queryParams]="{ id: item.idEncrypted }">Excluir</a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="loading">
                <tr>
                    <td style="background-color: #f5f5f5;"></td>
                    <td style="background-color: #f5f5f5;" colspan="8">
                        <div class="d-flex align-items-center justify-content-center py-2">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        </div>
                    </td>
                    <td style="background-color: #f5f5f5;"></td>
                </tr>
            </tbody>
            <tbody *ngIf="!loading && arquivosService.list.value.length == 0">
                <tr>
                    <td></td>
                    <td colspan="8">
                        Nenhum registro encontrado
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <div class="card-footer pb-2 pt-3 px-0 bg-transparent d-flex justify-content-end position-sticky"
            style="left: 0;">
            <jw-pagination [items]="items" (changePage)="onChangePage($event)"></jw-pagination>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
