<div class="modal" [class.active]="modalOpen">
    <div class="modal__bg" (click)="voltar()"></div>
    <div class="modal__inner" style="max-width: 800px;">
        <div class="modal__content">
            <div class="modal__header">
                <h3 class="text-orange">Adicionar perfil</h3>
                <a (click)="voltar()" class="modal__header-close btn-close">
                    <span></span>
                    <span></span>
                </a>
            </div>
            <div class="modal__body">
                <form #form="ngForm" (ngSubmit)="edit(form)">
                    <div class="d-flex justify-content-between col-lg-12 flex-wrap p-0">
                        <ul *ngIf="erro">
                            <li class="text-red" *ngFor="let err of erro">{{err}}</li>
                        </ul>
                        <div class="d-flex col-sm-12 ml-auto mt-3">
                            <button type="submit" class="btn btn-primary ml-auto"
                                [disabled]="form.invalid || loading">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                Salvar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>  