.theme.grey-theme .header {
    background: #cc0000;
    color: #fff;
}

.theme.grey-theme .header {
    background: #cc0000;
    color: #fff;
}

.theme.grey-theme .navbar-expand .navbar-nav .dropdown-menu {
    background: #252525;
    color: #fff;
}

.theme.grey-theme .dropdown-toggle.show {
    background: #cc0000;
    color: #fff;
}

.theme.grey-theme .navbar-expand .navbar-nav .nav-link:hover, .theme.grey-theme .nav-link:hover {
    background: #cc0000;
    color: #fff;
}

.theme.grey-theme .dropdown-item.active, .theme.grey-theme .dropdown-item:active {
    background: #ffffff1c;
}

.theme.grey-theme .dropdown-item:focus, .theme.grey-theme .dropdown-item:hover {
    background: #cc0000;
    color: #fff;
}