.header {
    padding: 0 8px;
    margin: 0;
    background-color: #cc0000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    height: 60px;
}

.navbar-brand {
    width: auto;
    height: 50px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.navbar-brand img {
    width: auto;
    height: 70%;
}

.navbar-nav {
    padding: 0;
    height: 100%!important;
}

.nav-item {
    padding: 0;
    padding-left: 0;
    padding-right: 0;
    display: flex;
}

.navbar-expand .navbar-nav .nav-link, .nav-link {
    color: #fff;
    padding: 10px 13px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.dropdown-toggle.noafter::after {
    display: none;
}

.navbar-expand .navbar-nav .dropdown-menu {
    right: 0;
    left: auto;
    border-radius: 0;
    border: none;
    font-size: 14px;
    background: #252525;
    color: #fff;
    top: auto;
    bottom: 0;
    transform: translateY(100%);
}

.dropdown-toggle.show {
    background: #ffffff21;
}

.navbar-expand .navbar-nav .nav-link:hover, .nav-link:hover {
    background-color: #ffffff21;
}

.dropdown-item {
    color: #fff;
    display: flex;
    justify-content: flex-end;
    padding: 4px 15px 4px 25px;
}

.dropdown-item fa-icon {
    margin-left: 13px;
    display: flex;
    align-items: center;
}

.font-5 {
    font-size: 5px;
}

.dropdown-item.active, .dropdown-item:active {
    background: #ffffff1c;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #fff;
    background: #ffffff1c;
}

.menu-small {
    background-color: transparent;
    border: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}


@media (max-width: 600px) {
    .menu-small {
        display: flex;
    }
    .navbar-nav {
        position: absolute;
        top: 0%;
        right: 0;
        transform: translateY(-100%);
        display: flex;
        flex-flow: column!important;
        width: 100%;
        height: unset!important;
        background: #252525;
        z-index: 0;
        transition: .5s;
    }
    .navbar-nav a {
        width: 100%;
        justify-content: flex-end;
        flex-flow: row-reverse;
    }
    .nav-item {
        display: block!important;
    }
    .dropdown-toggle.show {
        background: #191919;
    }
    .navbar-expand .navbar-nav .dropdown-menu {
        transform: none;
        background: #3a3737;
        position: static;
        text-align: left;
    }
    .dropdown-menu {
        position: static;
    }
    .dropdown-item fa-icon {
        margin-left: 0;
        margin-right: 13px;
    }
    .navbar-expand .navbar-nav .nav-link:hover, 
    .nav-link:hover {
        background-color: #00000021;
    }
    .navbar-nav.active {
        top: 100%;
        transform: none;
    }
    .header {
        padding: 0;
    }
    .menu-small-container {
        width: 100%;
    }
}