<header class="header navbar navbar-expand justify-content-between">
	<div class="navbar-mobile d-flex justify-content-between">
		<a class="navbar-brand">
			<img src="./../../../assets/img/logo-caceis-white.png" alt="Logo Santanter Caceis" class="header__logo">
		</a>
		<button class="btn btn-menuMobile">
			<span>
				<fa-icon [icon]="faBars"></fa-icon>
			</span>
			<span>
				<fa-icon [icon]="faTimes"></fa-icon>
			</span>
		</button>
	</div>
	<nav class="navbar-nav">
		<a class="nav-item nav-link">Usuários caceis</a>
		<a class="nav-item nav-link">Autorizações PJ</a>
		<div class="nav-item dropdown">
			<a class="nav-link nav-item dropdown-toggle" id="compartilhamento" role="button" data-bs-toggle="dropdown"
				aria-expanded="true">
				Compartilhamento
			</a>
			<ul class="dropdown-menu" aria-labelledby="compartilhamento">
				<a routerLink="/cliente/consentimentos/meus-consentimentos" class="dropdown-item">Meus consentimentos
					<small class="d-flex align-items-center justify-content-center font-5">
						<fa-icon [icon]="faCircle"></fa-icon>
					</small>
				</a>
			</ul>
		</div>
		<div class="nav-item dropdown">
			<a class="nav-link nav-item dropdown-toggle noafter" id="navbarDropdown" role="button"
				data-bs-toggle="dropdown" aria-expanded="false">
				<fa-icon [icon]="faCog"></fa-icon>
			</a>
			<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
				<li>
                    <a class="dropdown-item">Perfil <fa-icon [icon]="faUser"></fa-icon></a>
				</li>
				<li>
                    <a class="dropdown-item">Sair <fa-icon [icon]="faSignOutAlt"></fa-icon></a>
                </li>
			</ul>
		</div>
	</nav>
</header>