<div class="modal" [class.active]="modalOpen">
    <div class="modal__bg" (click)="voltar()"></div>
    <div class="modal__inner" style="max-width: 800px;">
        <div class="modal__content">
            <div class="modal__header">
                <h3 class="text-orange">Filtrar movimentações</h3>
                <a (click)="voltar()" class="modal__header-close btn-close">
                    <span></span>
                    <span></span>
                </a>
            </div>
            <div class="modal__body">
                    <div class="form-row align-items-end">
                        <div class="form-group col-lg-3 col-md-3 col-sm-6 col-12">
                            <strong class="text-danger">Intervalo:</strong> <br>
                            <label for="de">De:</label>
                            <input type="date" class="form-control" name="de" id="de" #de="ngModel" [(ngModel)]="filtro.de">
                        </div>
                        <div class="form-group col-lg-3 col-md-3 col-sm-6 col-12">
                            <label for="ate">Até:</label>
                            <input type="date" class="form-control" name="ate" id="ate" #de="ngModel" [(ngModel)]="filtro.ate">
                        </div>
                        <div class="form-group col-lg-1 col-md-1 col-sm-12 col-12 d-flex align-items-end justify-content-center text-danger px-0">
                           <strong class="py-2 d-block">ou</strong>
                        </div>
                        <div class="form-group col-lg-5 col-md-5 col-sm-12 col-12">
                            <label for="dataHora">Data:</label>
                            <input type="date" class="form-control" name="dataHora" id="dataHora" #de="ngModel" [(ngModel)]="filtro.dataHora">
                        </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-lg-8 col-md-8 col-sm-8 col-12">
                          <label for="nomeArquivo">Nome do arquivo:</label>
                          <input type="text" class="form-control" name="nomeArquivo" id="nomeArquivo" #nomeArquivo="ngModel" [(ngModel)]="filtro.nomeArquivo">
                      </div>
                      <div class="form-group col-lg-4 col-md-4 col-sm-4 col-12">
                          <label for="criterio">Critério:</label>
                          <select class="form-control" name="criterio" id="criterio" #criterio="ngModel" [(ngModel)]="filtro.criterio">
                            <option [ngValue]="undefined">Todos</option>
                            <option [ngValue]="item.nome" *ngFor="let item of this.arquivosService.listCriterios.value">{{ item.nome }}</option>
                          </select>
                      </div>
                    </div>
                    <div class="form-row align-items-end">
                        <div class="form-group col-lg-4 col-md-4 col-sm-4 col-12">
                          <strong class="text-danger">Origem:</strong> <br>
                          <label for="tipoOrigem">Tipo:</label>
                          <select class="form-control" name="tipoOrigem" id="tipoOrigem" #tipoOrigem="ngModel" [(ngModel)]="filtro.tipoOrigem">
                            <option [ngValue]="undefined">Todos</option>
                            <option [ngValue]="item.nome" *ngFor="let item of arquivosService.listTipos.value">{{item.nome}}</option>
                          </select>
                        </div>
                        <div class="form-group col-lg-8 col-md-8 col-sm-8 col-12">
                            <label for="origem">Caminho:</label>
                            <input type="text" class="form-control" name="origem" id="origem" #origem="ngModel" [(ngModel)]="filtro.origem">
                        </div>
                    </div>
                    <div class="form-row align-items-end">
                        <div class="form-group col-lg-4 col-md-4 col-sm-4 col-12">
                          <strong class="text-danger">Destino:</strong> <br>
                          <label for="tipoDestino">Tipo:</label>
                          <select class="form-control" name="tipoDestino" id="tipoDestino" #tipoDestino="ngModel" [(ngModel)]="filtro.tipoDestino">
                            <option [ngValue]="undefined">Todos</option>
                            <option [ngValue]="item.nome" *ngFor="let item of arquivosService.listTipos.value">{{item.nome}}</option>
                          </select>
                        </div>
                        <div class="form-group col-lg-8 col-md-8 col-sm-8 col-12">
                            <label for="destino">Caminho:</label>
                            <input type="text" class="form-control" name="destino" id="destino" #destino="ngModel" [(ngModel)]="filtro.destino">
                        </div>
                    </div>
                    <div class="d-flex justify-content-between col-lg-12 flex-wrap p-0">
                        <ul *ngIf="erro">
                            <li class="text-red" *ngFor="let err of erro">{{err}}</li>
                        </ul>
                        <div class="d-flex col-sm-12 ml-auto mt-3 flex-wrap">
                            <button type="button" class="btn btn-dark mr-2"
                                    (click)="limparFiltro()"
                                    [disabled]="loading">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                Limpar filtro
                            </button>
                            <button type="button" class="btn btn-primary"
                                (click)="filtrar()"
                                [disabled]="loading">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                Filtrar
                            </button>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
