<div class="modal" [class.active]="modalOpen">
    <div class="modal__bg" (click)="voltar()"></div>
    <div class="modal__inner" style="max-width: 800px;">
        <div class="modal__content">
            <div class="modal__header">
                <h3 class="text-orange">Filtrar usuários</h3>
                <a (click)="voltar()" class="modal__header-close btn-close">
                    <span></span>
                    <span></span>
                </a>
            </div>
            <div class="modal__body">
             <form #form="ngForm">
                <div class="form-row align-items-end">
                  <div class="form-group col-lg-12 col-md-12 col-sm-12">
                    <strong class="text-danger">Data de cadastro:</strong> <br>
                    <div class="d-flex align-items-center">
                      <p for="" class="fw-bold mr-3 small">Filtrar por: </p>
                      <label for="filtrarPorPeriodo" class="mb-0 mr-2">Período</label>
                      <input type="radio" name="filtrarData" id="filtrarPorPeriodo" #filtrarPorPeriodo="ngModel" [(ngModel)]="filtro.filtrarPor" [value]="'periodo'" (change)="filtro.de = ''; filtro.ate; filtro.dataCadastro = '';">
                      <label for="filtrarPorDataFixa" class="mb-0 mr-2 ml-2">Data fixa</label>
                      <input type="radio" name="filtrarData" id="filtrarPorDataFixa" #filtrarPorDataFixa="ngModel" [(ngModel)]="filtro.filtrarPor" [value]="'dataFixa'" (change)="filtro.de = ''; filtro.ate; filtro.dataCadastro = '';">
                    </div>
                  </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-6 col-12">
                        <label for="de"><small>De</small>:</label>
                        <input type="date" class="form-control" name="de" id="de" #de="ngModel" [(ngModel)]="filtro.de" [disabled]="filtro.filtrarPor.toString() == 'dataFixa'">
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-6 col-12">
                        <label for="ate"><small>Até</small>:</label>
                        <input type="date" class="form-control" name="ate" id="ate" #de="ngModel" [(ngModel)]="filtro.ate" [disabled]="filtro.filtrarPor.toString() == 'dataFixa'">
                    </div>
                    <div class="form-group col-lg-1 col-md-1 col-sm-12 col-12 d-flex align-items-end justify-content-center text-danger px-0">
                       <strong class="py-2 d-block">ou</strong>
                    </div>
                    <div class="form-group col-lg-5 col-md-5 col-sm-12 col-12">
                        <label for="dataHora">Data:</label>
                        <input type="date" class="form-control" name="dataHora" id="dataHora" #de="ngModel" [(ngModel)]="filtro.dataCadastro" [disabled]="filtro.filtrarPor.toString() == 'periodo'">
                    </div>
                </div>
                <div class="form-row align-items-end">
                    <div class="form-group col-lg-7 col-md-7 col-sm-7 col-12">
                        <label for="nome">Nome:</label>
                        <input type="text" class="form-control" name="nome" id="nome" #nome="ngModel" [(ngModel)]="filtro.nome">
                    </div>
                    <div class="form-group col-lg-5 col-md-5 col-sm-5 col-12">
                        <label for="documento">Sigla:</label>
                        <input type="text" class="form-control" name="documento" id="documento" #documento="ngModel" [(ngModel)]="filtro.documento">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-lg-8 col-md-8 col-sm-12 col-12">
                        <label for="email">E-mail:</label>
                        <input type="email" [email]="true" class="form-control" name="email" id="email" #email="ngModel" [(ngModel)]="filtro.email">
                    </div>
                    <div class="form-group col-lg-4 col-md-4 col-sm-12 col-12">
                        <label for="status">Status:</label>
                        <select name="status" id="status" class="form-control" #status="ngModel" [(ngModel)]="filtro.status">
                            <option [ngValue]="undefined">Todos</option>
                            <option [ngValue]="true">Ativo</option>
                            <option [ngValue]="false">Inativo</option>
                        </select>

                    </div>
                </div>

                <div class="form-row col-lg-12 px-2">
                    <small><strong>Acessos</strong></small>
                    <hr>
                </div>

                <div class="form-row col-lg-12 px-2">
                    <table class="table table-striped table-selectable">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Nome</th>
                                <th>Sistema</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of perfilService.list.value" (click)="toggleCheckbox(item)" #element  [class.selected]="item.checked">
                                <td></td>
                                <td>{{ item.nome }}</td>
                                <td>{{ item.sistema }}</td>
                                <td>
                                    <input type="checkbox" #input  [value]="item.id" [checked]="item.checked" name="accessControllers_Id[]" [id]="'accessControllers_Id-' + item.idEncrypted">
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="form-row">
                    <div class="d-flex justify-content-between flex-wrap col-lg-12">
                        <ul *ngIf="erro">
                            <li class="text-red" *ngFor="let err of erro">{{err}}</li>
                        </ul>
                        <div class="d-flex ml-auto mt-3 flex-wrap">
                            <button type="button" class="btn btn-dark mr-2 ml-0"
                                    (click)="limparFiltro()"
                                    [disabled]="loading">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                Limpar filtro
                            </button>
                            <button type="button" class="btn btn-primary"
                                (click)="filtrar(form)"
                                [disabled]="loading">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                Filtrar
                            </button>
                        </div>
                    </div>
                </div>
             </form>
            </div>
        </div>
    </div>
</div>
