<div class="page">
    <header class="page__header">
        <p class="page__header-voltar">
            <a routerLink="/">
                <span style="margin-right: 8px;">
                    <fa-icon [icon]="faChevronLeft"></fa-icon>
                </span>
                <strong>Voltar</strong>
            </a>
        </p>
        <h3 class="d-flex align-items-center justify-content-between">
            Histórico de Movimentações
            <a class="btn btn-filter" [routerLink]="['filtrar']">
                <fa-icon [icon]="faFilter"></fa-icon>
            </a>
        </h3>
    </header>
    <div class="page__body">
        <div class="d-flex align-items-center justify-content-between mb-2">
            <p><small>{{movimentacoesService.list.value.length}} resultados</small></p>
            <!-- <div class="d-flex col-lg-8 col-md-8 col-sm-12 col-12 align-items-center justify-content-end">
                <span *ngFor="let item of this.filtroList" class="flag flag-dark text-white ml-2">
                    <span *ngIf="item.value.length > 9">
                        <strong>{{ item.key }} </strong>: {{ item.value.substring(0,10) }} ....
                    </span>
                    <span *ngIf="item.value.length <= 9">
                        <strong>{{ item.key }} </strong>: {{ item.value }} 
                    </span>
                </span>
            </div> -->
        </div>
        <table class="table table-borderless table-striped table-selectable">
            <thead>
                <tr>
                    <th></th>
                    <th>Data Cadastro</th>
                    <th>Nome</th>
                    <th>Tipo</th>
                    <th>Caminho</th>
                    <th></th>
                </tr>
            </thead>
            <tbody *ngIf="!loading && movimentacoesService.list.value.length > 0">
                <tr class="table-row" *ngFor="let item of movimentacoesService.list.value" [class.selected]="item == selected">
                    <td></td>
                    <td (click)="selectItem(item)">{{ item.dataHora | date : "dd/MM/yyyy" }}</td>
                    <td (click)="selectItem(item)">{{ item.nome }}</td>
                    <td (click)="selectItem(item)">{{ item.movimento_Tipo }}</td>
                    <td (click)="selectItem(item)">{{ item.caminho }}</td>
                    <td class="td-actions"></td>
                </tr>
            </tbody>
            <tbody *ngIf="loading">
                <tr>
                    <td style="background-color: #f5f5f5;"></td>
                    <td style="background-color: #f5f5f5;" colspan="4">
                        <div class="d-flex align-items-center justify-content-center py-2">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        </div>
                    </td>
                    <td style="background-color: #f5f5f5;"></td>
                </tr>
            </tbody>
            <tbody *ngIf="!loading && movimentacoesService.list.value.length == 0">
                <tr>
                    <td></td>
                    <td colspan="4">
                        Nenhum registro encontrado
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>

        <div class="card-footer pb-2 pt-3 px-0 bg-transparent d-flex justify-content-end position-sticky"
            style="left: 0;">
            <jw-pagination [items]="items" (changePage)="onChangePage($event)"></jw-pagination>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
