@font-face {
    font-family: Regular;
    src: url(./assets/fonts/OpenSans/OpenSans-Regular.ttf)
}

@font-face {
    font-family: SemiBold;
    src: url(./assets/fonts/OpenSans/OpenSans-SemiBold.ttf)
}

@font-face {
    font-family: Bold;
    src: url(./assets/fonts/OpenSans/OpenSans-Bold.ttf)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .4s;
    font-family: Regular, sans-serif;
    font-size: 14px;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-thumb {
    background: #272626;
    transition: .5s;
}

*::-webkit-scrollbar-track {
    background-color: rgba(173, 170, 170, 0.9);
}

body {
    font-family: Regular, sans-serif;
    color: #3f3c3c;
    font-size: 14px;
}

p {
    margin: 0;
}

a, button {
    cursor: pointer;
}

label:not(form label), h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.page {
    background-color: #f5f5f5;
    padding: 5vh 3vw 3vh;
    box-shadow: 2px 2px 7px #00000042;
    border-radius: 10px;
}

.page__header {
    border-bottom: 1px #c0c1c2 solid;
    padding: 0 0 12px 0;
}

.page__header h3 {
    color: #cc0000;
    font-weight: 800;
    margin: 8px 0;
    font-size: 25px;
}

.page__header .page__header-voltar {
    font-size: 14px;
    color: #4e4e4e;
    font-weight: 600;
    cursor: pointer;
}

.page__header .page__header-voltar a {
    font-size: 14px;
    color: #4e4e4e;
    font-weight: 600;
}

.page__body {
    padding: 15px 0;
}

p.error.text-danger {
    margin-left: 5px;
    margin-top: 2px;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px;
}

.form-group {
    padding: 0 6px;
}

.form-group label {
    margin-bottom: 5px;
}

.btn-primary {
    color: #fff;
    background-color: #ec0000;
    border-color: #ec0000;
}

.btn-primary:hover {
    color: #fff;
    background-color: #d20404;
    border-color: #d20404;
}

.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle, .btn-primary.disabled, .btn-primary:disabled, .btn.disabled, .btn:disabled, fieldset:disabled .btn {
    background-color: #ee3131;
    border-color: #ee3131;
    opacity: 1;
}

.btn-check:focus+.btn-primary, .btn-primary:focus, .btn-primary:focus-visible {
    outline: none;
    color: #fff;
    background-color: #ee3131;
    border-color: #ee3131;
    box-shadow: 0 0 0 3px #ee313154;
}

.btn-secondary {
    background-color: #3f3c3c;
    border-color: #3f3c3c;
    color: #fff;
}

.btn-secondary:hover, .btn-check:active+.btn-secondary, .btn-check:checked+.btn-secondary, .btn-secondary.active, .btn-secondary:active, .show>.btn-secondary.dropdown-toggle {
    background-color: #2a2a2a;
    border-color: #2a2a2a;
}

.btn-secondary:focus-visible, .btn-check:focus+.btn-secondary, .btn-secondary:focus {
    outline: none;
    color: #fff;
    background-color: #2a2a2a;
    border-color: #2a2a2a;
    box-shadow: 0 0 0 3px #828a9180;
}

#textSenha {
    margin-left: 4px;
}