<!-- <app-header></app-header> -->

<main class="main">
    <div class="main__body">
        <div class="main__bg" style="background-image: url(./../../assets/img/logo-caceis.png);"></div>

        <div class="page">
            <header class="page__header">
                <p class="page__header-voltar">
                    <a routerLink="/">
                        <span style="margin-right: 8px;">
                            <fa-icon [icon]="faChevronLeft"></fa-icon>
                        </span>
                        <strong>Voltar</strong>
                    </a>
                </p>
                <h3 class="d-flex align-items-center">
                    Meu perfil
                </h3>
            </header>
            <div class="page__body">
            </div>
        </div>
    </div>
</main>